
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Блокчэйн нотариат</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- CSS -->
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">
  <div id ="app">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
       <div class="container">
          <div class="navbar-header page-scroll">
              <a class="navbar-brand" href="/">Нотариат систем</a>
          </div>
      </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Блокчэйн</h1>
                        <hr class="star-light">
                        <span class="skills">Нотариатын гэрчилгээ</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <section id = "upload" v-if="!hash || hash!='0x'" v-cloak>
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">
             <div v-if="web3Missing">
               <p>Please install the Metamask Plugin or Mist Browser to use Nottario</p>
             </div>
             <div v-if="!web3Missing">
               <table  class="table">
                 <tr><th>Блокчэйн дэхь хаяг</th><td><a v-bind:href="etherscanLink" target="_new">{{ address }}</a></td></tr>
                 <tr><th>Нэр</th><td>{{ name }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>Файл төрөл</th><td>{{ type }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>Хэмжээ</th><td>{{ size }} bytes</td></tr>
                 <tr><th>Файлын сүүлийн өөрчлөлт</th><td>{{ lastModified }}</td></tr>
                 <tr><th>Хэш</th><td>{{ hash }}</td></tr>
                 <tr><th>Блокчейн дээр баталгаажсан хугацаа</th><td>{{ timestamp }}</td></tr>
               </table>
             </div>
           </div>
         </div>
      </div>
    </section>

    <section v-if="hash=='0x'" v-cloak>
      <div class="alert alert-danger">Гэрээ хаяг буруу байна!</div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Гэрчилгээ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Энэ хуудсанд баталгаажуулсан баримт бичгийн дэлгэрэнгүй мэдээллийг харуулав.
Түүнчлэн баримт бичиг нь нотариатаар батлуулсан баримттай тохирч байгаа эсэхийг баталгаажуулах боломжтой.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p ><a v-bind:href="etherscanLink" target="_new">{{ address }}</a>.
                      Энэ бол таны ethereum блокчэйн дээр баталгаажсан гэрчилгээний хаяг. Энэхүү гэрчилгээ нь хэзээ ч өөрчлөгдөхгүй мөн устахгүй.
                       
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">

               <h3>Гэрээн дээрх тухайн файлыг батлахын тулд зөөх талбар дээр чирч авчирна уу!</h3>
               <hr class="star-light">
               <div id="drop_zone" v-bind:class="{ dragging: dragging }" ondrop="verify_file(event);" ondragover="allowDrop(event)" ondragleave="dragout(event)">
                 <strong>Файл зөөх талбар ...</strong>
               </div>
               <br>
               <div v-if="verified && droppedHash" class="verified"><h4 class="text-success">БАТАЛГААЖСАН БАЙНА! Уг бичиг баримт нь блокчэйн илгээгдсэн бичиг баримттай таарч байна!</h4></div>
               <div v-if="!verified && droppedHash" class="unverified"><h4 class="text-danger">БАТАЛГААЖААГҮЙ БАЙНА! Уг бичиг баримт нь блокчэйн илгээгдсэн бичиг баримттай таарахгүй байна!!</h4></div>
           </div>
        </div>
      </div>
    </section>

    <section id="blockchain">
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">

               <h3>Ethereum блокчэйны дэлгэрэнгүй</h3>
               <hr class="star-light">
               <table class="table">
                 <tr><th>Хаяг</th><td><a v-bind:href="etherscanLink" target="_new">{{ address }}</a></td></tr>
                 <tr><th>ABI</th><td><div class="abi">{{ abi }}</div></td></tr>
               </table>
           </div>
        </div>
      </div>
    </section>

</div>  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/solidity.js"></script>
    <script src="js/geree.js"></script>


</body>

</html>
